DataLake/Validate_Staging.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "224e494a-fcd1-3d9d-89d9-009095da11bf",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "4d9f478b-5c2d-3bde-b7d0-e9f0e65b596d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "11a1973a-270f-3c97-b8f5-5354eb02af66",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "8be37cad-ecbd-3594-85c6-fef46b81d7ae",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "2989c00f-65e7-3651-95ac-df54065a3a18",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "de11a3bb-f9e3-3d24-8aad-0fa6c7bf6f11",
            "name" : "InputValidationStage",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "11a1973a-270f-3c97-b8f5-5354eb02af66",
            "name" : "EvaluateJsonPath",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "461c0f3f-3a5c-36af-9f5d-b741b16ae46a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "8be37cad-ecbd-3594-85c6-fef46b81d7ae",
            "name" : "ExecuteStreamCommand",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "4f84df92-a280-3a7e-8206-6c1891d34d28",
            "name" : "OutputValidation",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "857524b1-e327-3a70-9823-6f1aa816c7db",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "pass" ],
          "source" : {
            "comments" : "",
            "groupId" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
            "id" : "224e494a-fcd1-3d9d-89d9-009095da11bf",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "de11a3bb-f9e3-3d24-8aad-0fa6c7bf6f11",
          "name" : "InputValidationStage",
          "position" : {
            "x" : 136.0,
            "y" : 136.0
          },
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "name" : "ValidateStaging",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "4f84df92-a280-3a7e-8206-6c1891d34d28",
          "name" : "OutputValidation",
          "position" : {
            "x" : 976.0,
            "y" : 536.0
          },
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 296.0,
          "y" : 552.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "224e494a-fcd1-3d9d-89d9-009095da11bf",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 480.0,
            "y" : 480.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "pass" : "${result:startsWith('pass')}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "pass" : {
              "displayName" : "pass",
              "identifiesControllerService" : false,
              "name" : "pass",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "nonzero status" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "8be37cad-ecbd-3594-85c6-fef46b81d7ae",
          "name" : "ExecuteStreamCommand",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 472.0,
            "y" : 104.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Command Path" : "/home/eke/pgAdmin4/pgAdmin4/bin/python3",
            "Working Directory" : "/home/eke/staging/great_expectations/uncommitted",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false",
            "Command Arguments" : "run_staging.checkpoint.py"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "44b4f70e-5980-3429-b8c3-8c55bce9657b",
          "identifier" : "11a1973a-270f-3c97-b8f5-5354eb02af66",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 480.0,
            "y" : 288.0
          },
          "properties" : {
            "result" : "$.result",
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "result" : {
              "displayName" : "result",
              "identifiesControllerService" : false,
              "name" : "result",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}